.update__header {
  font-family: "Caslon Antique", "Arial", serif;
  font-size: 2vw;
  font-weight: 50;
  color: rgba(219, 219, 219, 1);
  letter-spacing: 0.05em;
}

.update__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

.item-photo__pic {
  margin-top: 3vw;
  margin-bottom: 2vw;
  height: 23vw;
}